{% extends "base.html" %}

{% block content %}
    <main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5">
            <div class="row wow fadeIn">
                <div class="col-md-6 mb-4">
                    <img src="https://www.kinopoisk.ru/images/film_big/611822.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-6 mb-4">
                    <div class="p-4">
                        <div class="mb-3">
                            <a href="">
                                <span class="badge blue mr-1">фэнтези</span>
                            </a>
                            <a href="">
                                    <span class="badge blue mr-1">боевик</span>
                            </a>
                            <a href="">
                                    <span class="badge blue mr-1">триллер</span>
                            </a>
                            <a href="">
                                    <span class="badge blue mr-1">приключения</span>
                            </a>
                        </div>
                        <p class="lead font-weight-bold">
                            Описание:
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ducimus libero incidunt iusto voluptate repudiandae fugiat non similique soluta, labore autem ratione doloribus cupiditate nisi cum atque quia consequuntur inventore.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row d-flex justify-content-center wow fadeIn">
            <div class="col-md-6text-center">
                <h4>
                    Просмотр:
                </h4>
            </div>
        </div>
    </main>

{% endblock %}